.bg {
    background-image: url('..\Images\IMG_20170516_112306657.jpg'), url('..\Images\IMG_20190731_112041.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }

.rotate{
    transform: rotate(90deg);
}

#carousel-images{
    background-color: black;
}

.checked {
    color: gold;
  }

.list-item{
    border-color: gold;
    padding: 1rem 1rem 1rem 1rem;

}
.skill{
    border-color: darkviolet;
}
.carousel-inner > .carousel-item{
    width: 100%;
}
#card{
    background-color: navajowhite;
}
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}