@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Roboto&display=swap');

body{
    color: ivory;
}
.bg {
    background-image: url('..\Images\IMG_20170516_112306657.jpg'), url('..\Images\IMG_20190731_112041.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   }

.rotate{
    transform: rotate(90deg);
}

#carousel-images{
    background-color: #0B0C10;
}

.checked {
    color: #254E58;
  }

.list-item{
    background: rgb(110,102,88);
    background: radial-gradient(circle, rgba(110,102,88,1) 23%, rgba(241,229,229,1) 100%);
    padding: 1rem 1rem 1rem 1rem;
    border-color: #112D32;

}
.skills{
    background: rgb(110,102,88);
    background: radial-gradient(circle, rgba(110,102,88,1) 23%, rgba(241,229,229,1) 100%);
}
.about-paragraph{
    font-size: large;
}
#card{
    background-color: #6e6658;
}
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
#skills{
    padding-top: 0.5rem;
}
#projects{
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.interests{
    padding-bottom: 1rem;
}
.interest{
    font-size: large;
}
.navbar-title{
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}
.icon{
    padding-left: 1rem;
    padding-top: 0.5rem;
}
/* Back to Top Button Style */
#to-top-button {
    display: inline-block;
    background-color: #6E6658;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #to-top-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #to-top-button:hover {
    cursor: pointer;
  }
  #to-top-button:active {
    background-color: #555;
  }
  #to-top-button.show {
    opacity: 1;
    visibility: visible;
  }

h1, h2, h5{
    font-family: 'Open Sans', sans-serif;
}
p, li, a{
    font-family: 'Roboto', sans-serif;
}
.bg-dark{
    background: rgb(241,229,229);
    background: radial-gradient(circle, rgba(241,229,229,1) 0%, rgba(136,189,188,1) 36%);;
}
.bg-light{
    background: #254E58;
}
nav{
    background: #112D32;
}

hr{
    border-color: #112D32;
}
.text-white{
    color: ivory;
}
